@font-face {
    font-family: Wellingtons;
    src: url('tt_wellingtons/TT Wellingtons Trial ExtraLight.otf');
}

@font-face {
    font-family: WellingtonsBold;
    src: url('tt_wellingtons/TT Wellingtons Trial ExtraBold.otf');
}


* {
    font-family: "Wellingtons";
}


a {
    text-align: center;
}


body {
    padding-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

img{
    width: 40%;
    padding-top: 100px;
    object-fit: cover;
}